Here we see the candle which is higher than the previous four and the sunsequent four , we buy when we get a candle which is higher than any such previous candle and also above 200MA . And vice-versa for selling.
Stop loss will be just the low of entry candle.
Profit target is 1.5 times the distance between close of entry candle and stop loss.

https://www.youtube.com/watch?v=4MnNft7Squk&list=PL9ATnizYJ7f9pCPBzr-isv0_R3E6OW6YY&index=43

In [14]:
!pip install ta

Collecting ta
  Downloading ta-0.11.0.tar.gz (25 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\safde\anaconda3\lib\site-packages (from ta) (1.24.3)
Requirement already satisfied: pandas in c:\users\safde\anaconda3\lib\site-packages (from ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\safde\anaconda3\lib\site-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\safde\anaconda3\lib\site-packages (from pandas->ta) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\safde\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py): started
  Building wheel for ta (setup.py): finished with status 'done'
  Created wheel for ta: filename=ta-0.11.0-py3-none-any.whl size=29422 sha256=d5a56b34ad853bd44f1c0dff2aba470065bdd7c86270347a7176ecb000091370
  Stored in directory: c:\users\safde\appdata\local\pip\cache\wheels\a1\d7\29\7781cc5eb9a3659d032d7d15bdd0f49d07d2b24fec29f44bc4
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.11.0

In [15]:
import yfinance as yf
import pandas as pd
import numpy as np

import ta

In [61]:
df=yf.download('BTC-USD',start='2024-04-07',interval='15m')#on;y last sixty days
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-04-07 00:00:00,68905.921875,69083.445312,68905.921875,69083.445312,69083.445312,10227712
2024-04-07 00:15:00,69130.664062,69138.554688,68881.382812,68881.382812,68881.382812,44509184
2024-04-07 00:30:00,68853.890625,69077.781250,68853.890625,69077.781250,69077.781250,20901888
2024-04-07 00:45:00,69080.414062,69110.031250,69015.179688,69015.179688,69015.179688,3422208
2024-04-07 01:00:00,69021.453125,69310.296875,69021.453125,69239.757812,69239.757812,57690112
...,...,...,...,...,...,...
2024-06-05 10:15:00,70863.320312,70863.320312,70746.578125,70755.078125,70755.078125,71122944
2024-06-05 10:30:00,70772.437500,70816.609375,70743.703125,70779.835938,70779.835938,58466304
2024-06-05 10:45:00,70777.664062,70871.070312,70765.421875,70820.992188,70820.992188,97284096
2024-06-05 11:00:00,70799.515625,70810.164062,70721.164062,70810.164062,70810.164062,39444480
2024-06-05 11:15:00,70828.109375,70946.054688,70822.039062,70946.054688,70946.054688,39657472

In [62]:
df['EMA200']=ta.trend.ema_indicator(df.Close,window=200)
df

,Open,High,Low,Close,Adj Close,Volume,EMA200
Datetime,,,,,,,
2024-04-07 00:00:00,68905.921875,69083.445312,68905.921875,69083.445312,69083.445312,10227712,NaN
2024-04-07 00:15:00,69130.664062,69138.554688,68881.382812,68881.382812,68881.382812,44509184,NaN
2024-04-07 00:30:00,68853.890625,69077.781250,68853.890625,69077.781250,69077.781250,20901888,NaN
2024-04-07 00:45:00,69080.414062,69110.031250,69015.179688,69015.179688,69015.179688,3422208,NaN
2024-04-07 01:00:00,69021.453125,69310.296875,69021.453125,69239.757812,69239.757812,57690112,NaN
...,...,...,...,...,...,...,...
2024-06-05 10:15:00,70863.320312,70863.320312,70746.578125,70755.078125,70755.078125,71122944,69878.126025
2024-06-05 10:30:00,70772.437500,70816.609375,70743.703125,70779.835938,70779.835938,58466304,69887.098263
2024-06-05 10:45:00,70777.664062,70871.070312,70765.421875,70820.992188,70820.992188,97284096,69896.390740
2024-06-05 11:00:00,70799.515625,70810.164062,70721.164062,70810.164062,70810.164062,39444480,69905.483012
2024-06-05 11:15:00,70828.109375,70946.054688,70822.039062,70946.054688,70946.054688,39657472,69915.836959

In [63]:
df[:5]

,Open,High,Low,Close,Adj Close,Volume,EMA200
Datetime,,,,,,,
2024-04-07 00:00:00,68905.921875,69083.445312,68905.921875,69083.445312,69083.445312,10227712,NaN
2024-04-07 00:15:00,69130.664062,69138.554688,68881.382812,68881.382812,68881.382812,44509184,NaN
2024-04-07 00:30:00,68853.890625,69077.781250,68853.890625,69077.781250,69077.781250,20901888,NaN
2024-04-07 00:45:00,69080.414062,69110.031250,69015.179688,69015.179688,69015.179688,3422208,NaN
2024-04-07 01:00:00,69021.453125,69310.296875,69021.453125,69239.757812,69239.757812,57690112,NaN

In [64]:
df[:5].High.rolling(3,center=True).max()

Datetime
2024-04-07 00:00:00             NaN
2024-04-07 00:15:00    69138.554688
2024-04-07 00:30:00    69138.554688
2024-04-07 00:45:00    69310.296875
2024-04-07 01:00:00             NaN
Name: High, dtype: float64

In [65]:
df['wf_Top_bool']=np.where(
df['High']==df['High'].rolling(9,center=True).max(),True,False)

In [66]:
df.head(200)

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool
Datetime,,,,,,,,
2024-04-07 00:00:00,68905.921875,69083.445312,68905.921875,69083.445312,69083.445312,10227712,NaN,False
2024-04-07 00:15:00,69130.664062,69138.554688,68881.382812,68881.382812,68881.382812,44509184,NaN,False
2024-04-07 00:30:00,68853.890625,69077.781250,68853.890625,69077.781250,69077.781250,20901888,NaN,False
2024-04-07 00:45:00,69080.414062,69110.031250,69015.179688,69015.179688,69015.179688,3422208,NaN,False
2024-04-07 01:00:00,69021.453125,69310.296875,69021.453125,69239.757812,69239.757812,57690112,NaN,False
...,...,...,...,...,...,...,...,...
2024-04-09 00:45:00,71456.195312,71490.648438,71362.312500,71423.640625,71423.640625,112324608,NaN,False
2024-04-09 01:00:00,71424.734375,71434.085938,70916.054688,71010.742188,71010.742188,265920512,NaN,False
2024-04-09 01:15:00,71069.804688,71275.007812,70952.531250,71275.007812,71275.007812,201170944,NaN,False
2024-04-09 01:30:00,71259.953125,71259.953125,71119.671875,71247.828125,71247.828125,42934272,NaN,False
2024-04-09 01:45:00,71291.406250,71308.851562,71210.023438,71286.703125,71286.703125,39120896,70603.497904,False

In [67]:
df['wf_Top']=np.where(
df['High']==df['High'].rolling(9,center=True).max(),df['High'],None)

In [68]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top
Datetime,,,,,,,,,
2024-04-07 00:00:00,68905.921875,69083.445312,68905.921875,69083.445312,69083.445312,10227712,NaN,False,None
2024-04-07 00:15:00,69130.664062,69138.554688,68881.382812,68881.382812,68881.382812,44509184,NaN,False,None
2024-04-07 00:30:00,68853.890625,69077.781250,68853.890625,69077.781250,69077.781250,20901888,NaN,False,None
2024-04-07 00:45:00,69080.414062,69110.031250,69015.179688,69015.179688,69015.179688,3422208,NaN,False,None
2024-04-07 01:00:00,69021.453125,69310.296875,69021.453125,69239.757812,69239.757812,57690112,NaN,False,None
2024-04-07 01:15:00,69237.539062,69541.640625,69237.539062,69521.867188,69521.867188,125487104,NaN,False,None
2024-04-07 01:30:00,69511.968750,69608.593750,69349.429688,69466.820312,69466.820312,183169024,NaN,False,None
2024-04-07 01:45:00,69440.320312,69586.648438,69392.117188,69572.406250,69572.406250,75927552,NaN,False,None
2024-04-07 02:00:00,69566.054688,69755.031250,69522.234375,69522.234375,69522.234375,123643904,NaN,True,69755.03125
2024-04-07 02:15:00,69506.726562,69637.054688,69453.687500,69637.054688,69637.054688,59901952,NaN,False,None
2024-04-07 02:30:00,69660.585938,69660.585938,69432.054688,69485.039062,69485.039062,0,NaN,False,None
2024-04-07 02:45:00,69491.648438,69516.351562,69335.773438,69335.773438,69335.773438,26044416,NaN,False,None
2024-04-07 03:00:00,69329.781250,69367.765625,69269.484375,69328.757812,69328.757812,91904000,NaN,False,None
2024-04-07 03:15:00,69320.226562,69433.562500,69320.226562,69433.562500,69433.562500,18573312,NaN,False,None
2024-04-07 03:30:00,69448.328125,69458.429688,69365.156250,69388.429688,69388.429688,2834432,NaN,False,None
2024-04-07 03:45:00,69399.679688,69502.390625,69399.679688,69431.601562,69431.601562,2048,NaN,False,None
2024-04-07 04:00:00,69433.171875,69513.187500,69351.265625,69351.265625,69351.265625,24758272,NaN,True,69513.1875
2024-04-07 04:15:00,69317.742188,69321.406250,69223.960938,69259.500000,69259.500000,25681920,NaN,False,None
2024-04-07 04:30:00,69240.984375,69291.382812,69112.992188,69214.179688,69214.179688,107210752,NaN,False,None
2024-04-07 04:45:00,69245.953125,69351.750000,69245.953125,69344.093750,69344.093750,42504192,NaN,False,None
2024-04-07 05:00:00,69336.171875,69446.960938,69319.882812,69427.882812,69427.882812,1159168,NaN,False,None
2024-04-07 05:15:00,69431.765625,69461.726562,69335.820312,69417.890625,69417.890625,3106816,NaN,True,69461.726562
2024-04-07 05:30:00,69414.843750,69445.257812,69369.562500,69377.023438,69377.023438,0,NaN,False,None
2024-04-07 05:45:00,69426.101562,69438.156250,69350.679688,69383.406250,69383.406250,0,NaN,False,None
2024-04-07 06:00:00,69379.656250,69396.367188,69327.031250,69367.476562,69367.476562,325632,NaN,False,None
2024-04-07 06:15:00,69370.179688,69370.179688,69231.609375,69278.945312,69278.945312,9646080,NaN,False,None
2024-04-07 06:30:00,69267.617188,69288.367188,69216.015625,69280.171875,69280.171875,6125568,NaN,False,None
2024-04-07 06:45:00,69284.976562,69290.218750,69196.273438,69253.250000,69253.250000,9738240,NaN,False,None
2024-04-07 07:00:00,69268.570312,69349.054688,69262.515625,69344.257812,69344.257812,518144,NaN,False,None
2024-04-07 07:15:00,69341.125000,69418.000000,69341.125000,69418.000000,69418.000000,44967936,NaN,False,None

In [69]:
df['wf_Top']=df['wf_Top'].ffill()
df

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top
Datetime,,,,,,,,,
2024-04-07 00:00:00,68905.921875,69083.445312,68905.921875,69083.445312,69083.445312,10227712,NaN,False,NaN
2024-04-07 00:15:00,69130.664062,69138.554688,68881.382812,68881.382812,68881.382812,44509184,NaN,False,NaN
2024-04-07 00:30:00,68853.890625,69077.781250,68853.890625,69077.781250,69077.781250,20901888,NaN,False,NaN
2024-04-07 00:45:00,69080.414062,69110.031250,69015.179688,69015.179688,69015.179688,3422208,NaN,False,NaN
2024-04-07 01:00:00,69021.453125,69310.296875,69021.453125,69239.757812,69239.757812,57690112,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...
2024-06-05 10:15:00,70863.320312,70863.320312,70746.578125,70755.078125,70755.078125,71122944,69878.126025,False,71323.257812
2024-06-05 10:30:00,70772.437500,70816.609375,70743.703125,70779.835938,70779.835938,58466304,69887.098263,False,71323.257812
2024-06-05 10:45:00,70777.664062,70871.070312,70765.421875,70820.992188,70820.992188,97284096,69896.390740,False,71323.257812
2024-06-05 11:00:00,70799.515625,70810.164062,70721.164062,70810.164062,70810.164062,39444480,69905.483012,False,71323.257812
2024-06-05 11:15:00,70828.109375,70946.054688,70822.039062,70946.054688,70946.054688,39657472,69915.836959,False,71323.257812

In [70]:
df.dropna(inplace=True)

In [71]:
df['Buy']=np.where((df.Close > df.wf_Top) & (df.Close > df.EMA200),1,0)

In [72]:
df.tail(30)

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top,Buy
Datetime,,,,,,,,,,
2024-06-05 04:00:00,70953.554688,70964.617188,70855.570312,70927.609375,70927.609375,56242176,69556.647995,False,71246.726562,0
2024-06-05 04:15:00,70941.179688,71022.609375,70941.179688,71013.937500,71013.937500,89358336,69571.148388,False,71246.726562,0
2024-06-05 04:30:00,71029.218750,71198.453125,71029.218750,71173.515625,71173.515625,322224128,69587.092341,False,71246.726562,0
2024-06-05 04:45:00,71190.984375,71217.187500,71116.578125,71191.312500,71191.312500,295481344,69603.054731,True,71217.187500,0
2024-06-05 05:00:00,71175.492188,71189.796875,70957.484375,70960.828125,70960.828125,131584000,69616.564914,False,71217.187500,0
2024-06-05 05:15:00,70940.078125,71042.031250,70930.148438,71026.929688,71026.929688,145494016,69630.598394,False,71217.187500,0
2024-06-05 05:30:00,71034.757812,71034.757812,70912.851562,70912.851562,70912.851562,47869952,69643.357132,False,71217.187500,0
2024-06-05 05:45:00,70900.242188,71031.851562,70900.242188,71005.710938,71005.710938,86622208,69656.912891,False,71217.187500,0
2024-06-05 06:00:00,71010.171875,71010.171875,70908.445312,70908.445312,70908.445312,0,69669.365950,False,71217.187500,0
2024-06-05 06:15:00,70904.773438,70986.632812,70877.406250,70963.273438,70963.273438,95838208,69682.240652,False,71217.187500,0
2024-06-05 06:30:00,70981.296875,71092.781250,70911.867188,71088.226562,71088.226562,150798336,69696.230561,False,71217.187500,0
2024-06-05 06:45:00,71099.062500,71107.882812,71012.562500,71082.609375,71082.609375,138948608,69710.025375,False,71217.187500,0
2024-06-05 07:00:00,71102.187500,71186.281250,71090.585938,71157.054688,71157.054688,225783808,69724.423677,False,71217.187500,0
2024-06-05 07:15:00,71140.945312,71203.210938,71111.203125,71111.203125,71111.203125,86822912,69738.222477,False,71217.187500,0
2024-06-05 07:30:00,71080.375000,71206.601562,71055.687500,71199.507812,71199.507812,175816704,69752.762630,False,71217.187500,0
2024-06-05 07:45:00,71323.257812,71323.257812,71178.835938,71206.062500,71206.062500,323121152,69767.223325,True,71323.257812,0
2024-06-05 08:00:00,71195.398438,71217.421875,71062.000000,71062.000000,71062.000000,39235584,69780.106675,False,71323.257812,0
2024-06-05 08:15:00,71064.695312,71130.460938,71043.335938,71092.187500,71092.187500,30277632,69793.162206,False,71323.257812,0
2024-06-05 08:30:00,71087.929688,71124.085938,71015.632812,71027.437500,71027.437500,82087936,69805.443552,False,71323.257812,0
2024-06-05 08:45:00,71027.828125,71053.304688,70892.679688,70892.679688,70892.679688,155615232,69816.261822,False,71323.257812,0
2024-06-05 09:00:00,70918.085938,70968.828125,70905.921875,70947.742188,70947.742188,0,69827.520333,False,71323.257812,0
2024-06-05 09:15:00,70925.156250,71027.718750,70925.156250,70987.250000,70987.250000,0,69839.059932,False,71323.257812,0
2024-06-05 09:30:00,70994.187500,70997.898438,70861.859375,70861.859375,70861.859375,25739264,69849.237041,False,71323.257812,0
2024-06-05 09:45:00,70839.976562,70903.710938,70839.976562,70858.500000,70858.500000,1400832,69859.279458,False,71323.257812,0
2024-06-05 10:00:00,70880.890625,70901.773438,70829.554688,70867.593750,70867.593750,18780160,69869.312436,False,71323.257812,0
2024-06-05 10:15:00,70863.320312,70863.320312,70746.578125,70755.078125,70755.078125,71122944,69878.126025,False,71323.257812,0
2024-06-05 10:30:00,70772.437500,70816.609375,70743.703125,70779.835938,70779.835938,58466304,69887.098263,False,71323.257812,0
2024-06-05 10:45:00,70777.664062,70871.070312,70765.421875,70820.992188,70820.992188,97284096,69896.390740,False,71323.257812,0
2024-06-05 11:00:00,70799.515625,70810.164062,70721.164062,70810.164062,70810.164062,39444480,69905.483012,False,71323.257812,0
2024-06-05 11:15:00,70828.109375,70946.054688,70822.039062,70946.054688,70946.054688,39657472,69915.836959,False,71323.257812,0

In [73]:
df['SL']=np.where(df.Buy==1,df.Close-(df.Close - df.Low),0)

In [74]:
df['TP']=np.where(df.Buy==1,df.Close+(df.Close - df.Low)*1.5,0)

In [75]:
buys,sells=[],[]

for i in range(len(df)):
    if df.Buy.iloc[i]:
        buys.append(df.iloc[i].name)
        for j in range(len(df) - i):
            if df.TP.iloc[i] < df.Close.iloc[i+j] or \
            df.SL.iloc[i] > df.Close.iloc[i+ j]:
                sells.append(df.iloc[i+ j].name)
                break

In [76]:
buys

[Timestamp('2024-04-09 11:00:00'),
 Timestamp('2024-04-10 16:45:00'),
 Timestamp('2024-04-10 19:45:00'),
 Timestamp('2024-04-10 20:00:00'),
 Timestamp('2024-04-10 22:00:00'),
 Timestamp('2024-04-10 22:15:00'),
 Timestamp('2024-04-11 19:30:00'),
 Timestamp('2024-04-11 20:00:00'),
 Timestamp('2024-04-12 00:00:00'),
 Timestamp('2024-04-12 02:00:00'),
 Timestamp('2024-04-12 02:15:00'),
 Timestamp('2024-04-12 02:30:00'),
 Timestamp('2024-04-12 02:45:00'),
 Timestamp('2024-04-12 03:00:00'),
 Timestamp('2024-04-12 03:15:00'),
 Timestamp('2024-04-12 03:30:00'),
 Timestamp('2024-04-12 03:45:00'),
 Timestamp('2024-04-12 04:00:00'),
 Timestamp('2024-04-12 04:15:00'),
 Timestamp('2024-04-12 04:30:00'),
 Timestamp('2024-04-12 11:30:00'),
 Timestamp('2024-04-12 11:45:00'),
 Timestamp('2024-04-14 23:15:00'),
 Timestamp('2024-04-14 23:30:00'),
 Timestamp('2024-04-14 23:45:00'),
 Timestamp('2024-04-15 05:45:00'),
 Timestamp('2024-04-15 06:00:00'),
 Timestamp('2024-04-15 06:15:00'),
 Timestamp('2024-04-15 06:30:00'),
 Timestamp('2024-04-15 06:45:00'),
 Timestamp('2024-04-15 07:00:00'),
 Timestamp('2024-04-16 21:30:00'),
 Timestamp('2024-04-18 11:00:00'),
 Timestamp('2024-04-18 11:15:00'),
 Timestamp('2024-04-18 14:00:00'),
 Timestamp('2024-04-18 14:15:00'),
 Timestamp('2024-04-18 14:30:00'),
 Timestamp('2024-04-18 14:45:00'),
 Timestamp('2024-04-19 06:30:00'),
 Timestamp('2024-04-19 06:45:00'),
 Timestamp('2024-04-19 07:00:00'),
 Timestamp('2024-04-19 07:15:00'),
 Timestamp('2024-04-19 07:30:00'),
 Timestamp('2024-04-19 07:45:00'),
 Timestamp('2024-04-19 11:30:00'),
 Timestamp('2024-04-20 04:30:00'),
 Timestamp('2024-04-20 04:45:00'),
 Timestamp('2024-04-20 05:15:00'),
 Timestamp('2024-04-20 13:15:00'),
 Timestamp('2024-04-20 15:30:00'),
 Timestamp('2024-04-20 15:45:00'),
 Timestamp('2024-04-20 16:00:00'),
 Timestamp('2024-04-20 16:15:00'),
 Timestamp('2024-04-20 16:30:00'),
 Timestamp('2024-04-20 16:45:00'),
 Timestamp('2024-04-20 17:00:00'),
 Timestamp('2024-04-20 17:15:00'),
 Timestamp('2024-04-20 23:15:00'),
 Timestamp('2024-04-20 23:30:00'),
 Timestamp('2024-04-21 01:15:00'),
 Timestamp('2024-04-21 01:30:00'),
 Timestamp('2024-04-21 02:15:00'),
 Timestamp('2024-04-21 02:30:00'),
 Timestamp('2024-04-21 02:45:00'),
 Timestamp('2024-04-22 05:30:00'),
 Timestamp('2024-04-22 13:00:00'),
 Timestamp('2024-04-22 13:45:00'),
 Timestamp('2024-04-22 14:00:00'),
 Timestamp('2024-04-22 14:15:00'),
 Timestamp('2024-04-22 17:15:00'),
 Timestamp('2024-04-22 17:30:00'),
 Timestamp('2024-04-22 22:00:00'),
 Timestamp('2024-04-22 22:15:00'),
 Timestamp('2024-04-22 22:45:00'),
 Timestamp('2024-04-22 23:00:00'),
 Timestamp('2024-04-23 13:30:00'),
 Timestamp('2024-04-23 13:45:00'),
 Timestamp('2024-04-23 14:00:00'),
 Timestamp('2024-04-23 14:15:00'),
 Timestamp('2024-04-24 00:00:00'),
 Timestamp('2024-04-24 00:15:00'),
 Timestamp('2024-04-24 00:30:00'),
 Timestamp('2024-04-24 00:45:00'),
 Timestamp('2024-04-24 01:00:00'),
 Timestamp('2024-04-24 01:15:00'),
 Timestamp('2024-04-24 01:30:00'),
 Timestamp('2024-04-24 04:45:00'),
 Timestamp('2024-04-25 21:00:00'),
 Timestamp('2024-04-28 00:15:00'),
 Timestamp('2024-04-28 02:30:00'),
 Timestamp('2024-04-28 02:45:00'),
 Timestamp('2024-05-02 14:30:00'),
 Timestamp('2024-05-02 14:45:00'),
 Timestamp('2024-05-02 15:00:00'),
 Timestamp('2024-05-02 15:15:00'),
 Timestamp('2024-05-02 15:30:00'),
 Timestamp('2024-05-03 01:15:00'),
 Timestamp('2024-05-03 01:30:00'),
 Timestamp('2024-05-03 02:00:00'),
 Timestamp('2024-05-03 02:15:00'),
 Timestamp('2024-05-03 02:30:00'),
 Timestamp('2024-05-03 02:45:00'),
 Timestamp('2024-05-03 03:00:00'),
 Timestamp('2024-05-03 12:30:00'),
 Timestamp('2024-05-03 12:45:00'),
 Timestamp('2024-05-03 13:00:00'),
 Timestamp('2024-05-03 13:15:00'),
 Timestamp('2024-05-03 13:30:00'),
 Timestamp('2024-05-03 13:45:00'),
 Timestamp('2024-05-03 19:45:00'),
 Timestamp('2024-05-03 20:00:00'),
 Timestamp('2024-05-03 20:15:00'),
 Timestamp('2024-05-03 20:30:00'),
 Timestamp('2024-05-04 04:45:00'),
 Timestamp('2024-05-04 05:00:00'),
 Timestamp('2024-05-04 05:15:00'),
 Timestamp('2024-05-04 05:30:00'),
 Timestamp('2024-05-04 05:45:00'),
 Timestamp('2024-05-04 10:30:00'),
 Timestamp('2024-05-04 10:45:00'),
 Timestamp('2024-05-04 19:45:00'),
 Timestamp('2024-05-05 07:00:00'),
 Timestamp('2024-05-05 07:15:00'),
 Timestamp('2024-05-05 11:15:00'),
 Timestamp('2024-05-05 11:30:00'),
 Timestamp('2024-05-05 15:15:00'),
 Timestamp('2024-05-05 15:30:00'),
 Timestamp('2024-05-06 07:30:00'),
 Timestamp('2024-05-06 07:45:00'),
 Timestamp('2024-05-06 08:00:00'),
 Timestamp('2024-05-06 08:15:00'),
 Timestamp('2024-05-07 01:00:00'),
 Timestamp('2024-05-07 01:15:00'),
 Timestamp('2024-05-07 01:30:00'),
 Timestamp('2024-05-07 08:15:00'),
 Timestamp('2024-05-07 14:45:00'),
 Timestamp('2024-05-09 15:15:00'),
 Timestamp('2024-05-09 15:30:00'),
 Timestamp('2024-05-09 15:45:00'),
 Timestamp('2024-05-09 16:00:00'),
 Timestamp('2024-05-09 20:45:00'),
 Timestamp('2024-05-09 22:30:00'),
 Timestamp('2024-05-10 06:45:00'),
 Timestamp('2024-05-10 07:00:00'),
 Timestamp('2024-05-10 11:45:00'),
 Timestamp('2024-05-12 14:00:00'),
 Timestamp('2024-05-12 14:15:00'),
 Timestamp('2024-05-12 15:15:00'),
 Timestamp('2024-05-12 15:30:00'),
 Timestamp('2024-05-12 15:45:00'),
 Timestamp('2024-05-12 16:00:00'),
 Timestamp('2024-05-13 06:30:00'),
 Timestamp('2024-05-13 06:45:00'),
 Timestamp('2024-05-13 07:00:00'),
 Timestamp('2024-05-13 07:15:00'),
 Timestamp('2024-05-13 07:30:00'),
 Timestamp('2024-05-13 07:45:00'),
 Timestamp('2024-05-13 08:00:00'),
 Timestamp('2024-05-13 08:15:00'),
 Timestamp('2024-05-13 08:30:00'),
 Timestamp('2024-05-13 08:45:00'),
 Timestamp('2024-05-13 09:00:00'),
 Timestamp('2024-05-13 16:15:00'),
 Timestamp('2024-05-15 03:00:00'),
 Timestamp('2024-05-15 03:15:00'),
 Timestamp('2024-05-15 07:30:00'),
 Timestamp('2024-05-15 09:30:00'),
 Timestamp('2024-05-15 09:45:00'),
 Timestamp('2024-05-15 10:00:00'),
 Timestamp('2024-05-15 10:15:00'),
 Timestamp('2024-05-15 12:30:00'),
 Timestamp('2024-05-15 12:45:00'),
 Timestamp('2024-05-15 13:00:00'),
 Timestamp('2024-05-15 13:15:00'),
 Timestamp('2024-05-15 15:00:00'),
 Timestamp('2024-05-15 15:15:00'),
 Timestamp('2024-05-15 15:30:00'),
 Timestamp('2024-05-15 15:45:00'),
 Timestamp('2024-05-15 17:30:00'),
 Timestamp('2024-05-15 17:45:00'),
 Timestamp('2024-05-15 18:00:00'),
 Timestamp('2024-05-15 18:15:00'),
 Timestamp('2024-05-15 18:30:00'),
 Timestamp('2024-05-15 18:45:00'),
 Timestamp('2024-05-15 19:00:00'),
 Timestamp('2024-05-15 19:15:00'),
 Timestamp('2024-05-15 19:30:00'),
 Timestamp('2024-05-16 07:15:00'),
 Timestamp('2024-05-16 07:30:00'),
 Timestamp('2024-05-16 07:45:00'),
 Timestamp('2024-05-16 11:45:00'),
 Timestamp('2024-05-17 03:15:00'),
 Timestamp('2024-05-17 03:30:00'),
 Timestamp('2024-05-17 06:30:00'),
 Timestamp('2024-05-17 06:45:00'),
 Timestamp('2024-05-17 07:00:00'),
 Timestamp('2024-05-17 14:45:00'),
 Timestamp('2024-05-17 15:00:00'),
 Timestamp('2024-05-17 15:15:00'),
 Timestamp('2024-05-18 10:15:00'),
 Timestamp('2024-05-18 10:45:00'),
 Timestamp('2024-05-19 02:15:00'),
 Timestamp('2024-05-19 02:45:00'),
 Timestamp('2024-05-19 03:00:00'),
 Timestamp('2024-05-19 03:15:00'),
 Timestamp('2024-05-19 07:15:00'),
 Timestamp('2024-05-19 07:30:00'),
 Timestamp('2024-05-20 02:15:00'),
 Timestamp('2024-05-20 02:30:00'),
 Timestamp('2024-05-20 04:30:00'),
 Timestamp('2024-05-20 04:45:00'),
 Timestamp('2024-05-20 10:00:00'),
 Timestamp('2024-05-20 15:15:00'),
 Timestamp('2024-05-20 15:30:00'),
 Timestamp('2024-05-20 15:45:00'),
 Timestamp('2024-05-20 16:00:00'),
 Timestamp('2024-05-20 16:15:00'),
 Timestamp('2024-05-20 16:30:00'),
 Timestamp('2024-05-20 16:45:00'),
 Timestamp('2024-05-20 17:00:00'),
 Timestamp('2024-05-20 18:30:00'),
 Timestamp('2024-05-20 18:45:00'),
 Timestamp('2024-05-20 19:00:00'),
 Timestamp('2024-05-20 19:15:00'),
 Timestamp('2024-05-20 19:30:00'),
 Timestamp('2024-05-20 19:45:00'),
 Timestamp('2024-05-20 23:15:00'),
 Timestamp('2024-05-20 23:30:00'),
 Timestamp('2024-05-20 23:45:00'),
 Timestamp('2024-05-21 00:00:00'),
 Timestamp('2024-05-21 11:30:00'),
 Timestamp('2024-05-21 22:00:00'),
 Timestamp('2024-05-21 22:15:00'),
 Timestamp('2024-05-21 22:30:00'),
 Timestamp('2024-05-21 22:45:00'),
 Timestamp('2024-05-21 23:00:00'),
 Timestamp('2024-05-21 23:15:00'),
 Timestamp('2024-05-22 10:30:00'),
 Timestamp('2024-05-22 10:45:00'),
 Timestamp('2024-05-22 15:30:00'),
 Timestamp('2024-05-22 15:45:00'),
 Timestamp('2024-05-22 16:00:00'),
 Timestamp('2024-05-23 06:45:00'),
 Timestamp('2024-05-23 11:15:00'),
 Timestamp('2024-05-23 11:30:00'),
 Timestamp('2024-05-24 15:45:00'),
 Timestamp('2024-05-24 16:45:00'),
 Timestamp('2024-05-24 17:00:00'),
 Timestamp('2024-05-24 17:15:00'),
 Timestamp('2024-05-24 17:30:00'),
 Timestamp('2024-05-24 17:45:00'),
 Timestamp('2024-05-25 08:00:00'),
 Timestamp('2024-05-25 08:15:00'),
 Timestamp('2024-05-25 08:30:00'),
 Timestamp('2024-05-25 08:45:00'),
 Timestamp('2024-05-25 09:00:00'),
 Timestamp('2024-05-25 09:15:00'),
 Timestamp('2024-05-25 10:45:00'),
 Timestamp('2024-05-25 11:00:00'),
 Timestamp('2024-05-25 23:00:00'),
 Timestamp('2024-05-25 23:15:00'),
 Timestamp('2024-05-26 07:30:00'),
 Timestamp('2024-05-26 07:45:00'),
 Timestamp('2024-05-26 08:00:00'),
 Timestamp('2024-05-26 14:45:00'),
 Timestamp('2024-05-27 01:30:00'),
 Timestamp('2024-05-27 01:45:00'),
 Timestamp('2024-05-27 02:00:00'),
 Timestamp('2024-05-27 13:15:00'),
 Timestamp('2024-05-27 13:30:00'),
 Timestamp('2024-05-27 13:45:00'),
 Timestamp('2024-05-27 14:00:00'),
 Timestamp('2024-05-27 14:15:00'),
 Timestamp('2024-05-27 14:30:00'),
 Timestamp('2024-05-27 14:45:00'),
 Timestamp('2024-05-27 15:00:00'),
 Timestamp('2024-05-27 15:15:00'),
 Timestamp('2024-05-27 15:30:00'),
 Timestamp('2024-05-27 15:45:00'),
 Timestamp('2024-05-29 02:15:00'),
 Timestamp('2024-05-30 04:15:00'),
 Timestamp('2024-05-30 12:30:00'),
 Timestamp('2024-05-30 12:45:00'),
 Timestamp('2024-05-30 13:00:00'),
 Timestamp('2024-05-30 13:15:00'),
 Timestamp('2024-05-30 13:30:00'),
 Timestamp('2024-05-30 13:45:00'),
 Timestamp('2024-05-30 17:15:00'),
 Timestamp('2024-05-30 17:30:00'),
 Timestamp('2024-05-31 01:00:00'),
 Timestamp('2024-05-31 01:15:00'),
 Timestamp('2024-05-31 01:30:00'),
 Timestamp('2024-05-31 02:00:00'),
 Timestamp('2024-05-31 12:15:00'),
 Timestamp('2024-06-02 14:15:00'),
 Timestamp('2024-06-02 22:15:00'),
 Timestamp('2024-06-02 22:30:00'),
 Timestamp('2024-06-02 22:45:00'),
 Timestamp('2024-06-03 01:00:00'),
 Timestamp('2024-06-03 01:15:00'),
 Timestamp('2024-06-03 01:30:00'),
 Timestamp('2024-06-03 01:45:00'),
 Timestamp('2024-06-03 02:00:00'),
 Timestamp('2024-06-03 06:00:00'),
 Timestamp('2024-06-03 06:15:00'),
 Timestamp('2024-06-03 08:15:00'),
 Timestamp('2024-06-03 12:15:00'),
 Timestamp('2024-06-03 12:30:00'),
 Timestamp('2024-06-03 12:45:00'),
 Timestamp('2024-06-03 13:00:00'),
 Timestamp('2024-06-03 13:15:00'),
 Timestamp('2024-06-03 13:30:00'),
 Timestamp('2024-06-04 13:15:00'),
 Timestamp('2024-06-04 13:30:00'),
 Timestamp('2024-06-04 13:45:00'),
 Timestamp('2024-06-04 14:00:00'),
 Timestamp('2024-06-04 14:15:00'),
 Timestamp('2024-06-04 14:30:00'),
 Timestamp('2024-06-04 14:45:00'),
 Timestamp('2024-06-04 15:00:00'),
 Timestamp('2024-06-04 15:15:00'),
 Timestamp('2024-06-04 15:30:00'),
 Timestamp('2024-06-04 15:45:00'),
 Timestamp('2024-06-04 16:00:00'),
 Timestamp('2024-06-04 16:15:00'),
 Timestamp('2024-06-05 00:30:00'),
 Timestamp('2024-06-05 00:45:00'),
 Timestamp('2024-06-05 01:15:00')]

In [77]:
frame = pd.DataFrame([buys,sells]).T.dropna()

In [78]:
frame.columns=['Buys','Sells']
frame

                   Buys               Sells
0   2024-04-09 11:00:00 2024-04-09 13:45:00
1   2024-04-10 16:45:00 2024-04-10 22:00:00
2   2024-04-10 19:45:00 2024-04-10 21:30:00
3   2024-04-10 20:00:00 2024-04-10 21:15:00
4   2024-04-10 22:00:00 2024-04-11 11:45:00
..                  ...                 ...
322 2024-06-04 15:45:00 2024-06-04 16:15:00
323 2024-06-04 16:00:00 2024-06-04 16:15:00
324 2024-06-04 16:15:00 2024-06-04 17:15:00
325 2024-06-05 00:30:00 2024-06-05 01:30:00
326 2024-06-05 00:45:00 2024-06-05 01:15:00

[327 rows x 2 columns]

In [79]:
actualtrades=frame[frame.Buys > frame.Sells.shift(1)]
actualtrades

                   Buys               Sells
1   2024-04-10 16:45:00 2024-04-10 22:00:00
4   2024-04-10 22:00:00 2024-04-11 11:45:00
6   2024-04-11 19:30:00 2024-04-11 21:15:00
8   2024-04-12 00:00:00 2024-04-12 02:15:00
20  2024-04-12 11:30:00 2024-04-12 12:15:00
..                  ...                 ...
298 2024-06-03 01:00:00 2024-06-03 06:00:00
303 2024-06-03 06:00:00 2024-06-03 06:30:00
306 2024-06-03 12:15:00 2024-06-03 12:30:00
312 2024-06-04 13:15:00 2024-06-04 13:45:00
325 2024-06-05 00:30:00 2024-06-05 01:30:00

[96 rows x 2 columns]

In [80]:
profits=(df.loc[actualtrades.Sells].Close.values -\
        df.loc[actualtrades.Buys].Close.values)/df.loc[actualtrades.Buys].Close.values

In [81]:
profits

array([ 0.0137619 , -0.0080025 , -0.00412939,  0.00560352, -0.0023946 ,
       -0.00834141,  0.01195299, -0.00807326,  0.01591124, -0.01576913,
        0.0328289 , -0.01165687, -0.00668272, -0.00187318, -0.00165165,
        0.01376281, -0.0029879 ,  0.00364438, -0.00444963, -0.00452273,
       -0.00391739, -0.00565986, -0.00530601,  0.0048381 ,  0.0070189 ,
        0.0062531 , -0.00436244, -0.00364835,  0.00560116,  0.0192762 ,
        0.00566318, -0.00877377,  0.03909909,  0.01187804,  0.01080335,
       -0.00760983, -0.00514824,  0.00646885, -0.0053087 ,  0.01319979,
       -0.00974869, -0.00495778, -0.00650274,  0.01717949,  0.00566081,
       -0.00491423, -0.00421   , -0.00122681,  0.00324864,  0.00475765,
       -0.00709506,  0.00402871,  0.01001414,  0.02332034,  0.00434453,
        0.00240319, -0.004166  ,  0.00378478,  0.00621734,  0.00831236,
       -0.00245551, -0.00365912,  0.00274202, -0.0047756 , -0.00120132,
       -0.01001847, -0.00258443,  0.00684237, -0.0250517 , -0.00166681,
        0.00257103, -0.0012666 , -0.00489316, -0.00142703, -0.00893476,
       -0.00230568,  0.00327574,  0.00199623, -0.00503459, -0.00282382,
       -0.00194342, -0.0063458 ,  0.00073324, -0.0068064 , -0.00304718,
        0.00659998, -0.00247434, -0.00343095,  0.00480085, -0.0025605 ,
       -0.00189897,  0.00911353,  0.00502527,  0.0038388 ,  0.00417419,
        0.00430686])

In [84]:
profits.mean()

0.0010120889551223382

In [82]:
(df.Close.pct_change()+1).cumprod()

Datetime
2024-04-09 01:45:00         NaN
2024-04-09 02:00:00    1.001287
2024-04-09 02:15:00    1.003919
2024-04-09 02:30:00    1.002728
2024-04-09 02:45:00    1.002871
                         ...
2024-06-05 10:15:00    0.992542
2024-06-05 10:30:00    0.992890
2024-06-05 10:45:00    0.993467
2024-06-05 11:00:00    0.993315
2024-06-05 11:15:00    0.995221
Name: Close, Length: 5422, dtype: float64