Simple strategy 
- Buy prior month worst performing stocks and hold them for one month
- After wards we will back test them with previous year S&P 100 stocks

In [4]:
import yfinance as yf
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [10]:
tickers=pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')[2]
tickers=tickers.Symbol.to_list()

In [12]:
df=yf.download(tickers,start='2009-01-01')

[*********************100%%**********************]  101 of 101 completed

1 Failed download:
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [13]:
df

             Adj Close                                                  \
                  AAPL        ABBV         ABT         ACN        ADBE
Date
2009-01-02    2.743889         NaN   18.029879   25.290184   23.020000
2009-01-05    2.859691         NaN   17.720182   25.402859   23.129999
2009-01-06    2.812524         NaN   17.141188   25.087389   24.219999
2009-01-07    2.751750         NaN   17.046923   25.372814   24.230000
2009-01-08    2.802849         NaN   17.235435   25.117430   24.290001
...                ...         ...         ...         ...         ...
2024-04-22  165.839996  167.889999  107.070000  317.420013  466.890015
2024-04-23  166.899994  169.539993  107.589996  316.829987  472.899994
2024-04-24  169.020004  167.800003  106.889999  313.540009  477.119995
2024-04-25  169.889999  167.289993  106.860001  309.000000  473.440002
2024-04-26  169.491196  158.570007  107.430000  307.890015  478.480011

                                                                       ...  \
                  AIG         AMD        AMGN         AMT        AMZN  ...
Date                                                                   ...
2009-01-02  22.058149    2.380000   42.406399   23.412407    2.718000  ...
2009-01-05  21.666584    2.670000   42.880836   23.319351    2.703000  ...
2009-01-06  22.710758    2.780000   41.939110   23.443436    2.868000  ...
2009-01-07  21.405540    2.660000   41.838478   22.536089    2.810000  ...
2009-01-08  21.536068    2.740000   42.600479   22.388752    2.858000  ...
...               ...         ...         ...         ...         ...  ...
2024-04-22  74.959999  148.639999  271.910004  172.300003  177.229996  ...
2024-04-23  74.930000  152.270004  273.540009  174.179993  179.539993  ...
2024-04-24  74.970001  151.740005  273.010010  173.350006  176.589996  ...
2024-04-25  74.629997  153.759995  269.380005  172.899994  173.669998  ...
2024-04-26  74.644997  157.732605  270.850006  172.569901         NaN  ...

                Volume                                                  \
                   TXN      UNH       UNP      UPS       USB         V
Date
2009-01-02  15194500.0  4885900   8053600  4233200  10883600  13199200
2009-01-05  11656300.0  8518900  12520800  3593500  14067200  16600000
2009-01-06  14433000.0  7423000  13970400  4578400  16001700  32506400
2009-01-07  13510100.0  8228400  15205600  5222100  16651800  28441600
2009-01-08  11072500.0  6106900  11008200  5726800  11620300  34683600
...                ...      ...       ...      ...       ...       ...
2024-04-22   5942400.0  4697700   2200000  4578500   8630700   6463700
2024-04-23   6833600.0  3646700   1980800  6371100   7079900   6438000
2024-04-24  13965900.0  3724400   2951100  5284700   6550300   8807200
2024-04-25   9129100.0  4329300   3897500  3553300   6602200   8063900
2024-04-26         NaN  1324894   1017826  1215343   1999504   1740164


                  VZ       WFC        WMT       XOM
Date
2009-01-02  14848985  36522300   48164400  35803700
2009-01-05  36096596  43614200   48063900  43340100
2009-01-06  28001608  54222900   57438000  41906100
2009-01-07  22727743  52631000   50346000  35268800
2009-01-08  17421465  52580100  278516400  30817100
...              ...       ...        ...       ...
2024-04-22  51243200  21753400   14910000  16340700
2024-04-23  25972800  21731200   17963900  13929800
2024-04-24  15946600  19731600   18529100  12101200
2024-04-25  16823600  24000500   19256100  16027300
2024-04-26   6584342   9586291    5315081  17467520

[3855 rows x 606 columns]

In [15]:
prices=df['Adj Close']
prices.index=pd.to_datetime(prices.index)

In [16]:
mtl_ret=prices.pct_change().resample('M').agg(lambda x: (x+1).prod()-1)

In [17]:
mtl_ret

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,TXN,UNH,UNP,UPS,USB,V,VZ,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,-0.006832,0.000000,0.042599,-0.062667,-0.161164,-0.242604,-0.079832,-0.070182,0.004969,0.082046,...,-0.061210,0.026821,-0.126471,-0.242738,-0.412277,-0.076534,-0.125110,-0.370000,-0.175936,-0.063205
2009-02-28,-0.009098,0.000000,-0.146104,-0.075095,-0.135163,-0.671875,-0.004566,-0.107931,-0.040211,0.101496,...,-0.040134,-0.306389,-0.137344,-0.020515,-0.035714,0.151384,-0.044861,-0.347822,0.044991,-0.107713
2009-03-31,0.177024,0.000000,0.007605,-0.058239,0.280838,1.380953,0.399083,0.012059,0.044986,0.133508,...,0.150523,0.066698,0.095682,0.195240,0.024038,-0.019573,0.058535,0.176859,0.064052,0.002946
2009-04-30,0.197013,0.000000,-0.114597,0.070571,0.278635,0.380000,0.183607,-0.021204,0.043707,0.096405,...,0.100814,0.123747,0.195330,0.063389,0.247091,0.168345,0.018825,0.405197,-0.032630,-0.020998
2009-05-31,0.079314,0.000000,0.076702,0.016990,0.030347,0.224638,0.257618,0.030328,0.003464,-0.031421,...,0.074197,0.130952,0.008329,-0.014465,0.053787,0.044014,-0.035597,0.277107,-0.007774,0.046405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31,0.013583,0.088349,0.055422,0.053341,-0.023584,0.035044,0.216656,0.068165,0.042201,0.040044,...,0.116233,-0.044675,0.096454,0.037069,0.148166,0.014298,-0.016436,0.103835,0.016350,-0.026864
2024-01-31,-0.042227,0.070986,0.032948,0.040748,0.035501,0.025978,0.137575,0.091105,-0.093710,0.021456,...,-0.053247,-0.027979,-0.006881,-0.097500,-0.040203,0.049587,0.142285,0.019504,0.048208,0.028306
2024-02-29,-0.018543,0.070864,0.048520,0.029955,-0.093075,0.048626,0.148130,-0.121840,0.016407,0.138918,...,0.045029,-0.035448,0.045377,0.056537,0.010111,0.036255,-0.055018,0.115593,0.064024,0.026081
2024-03-31,-0.051286,0.034365,-0.041976,-0.075164,-0.099379,0.077549,-0.062536,0.038309,-0.006386,0.020480,...,0.041116,0.006179,-0.030589,0.002496,0.077428,-0.012596,0.048476,0.042634,0.030113,0.112132
2024-04-30,-0.011598,-0.121082,-0.050125,-0.108271,-0.051764,-0.045094,-0.126087,-0.047376,-0.118781,-0.037199,...,0.005970,0.004649,-0.011609,-0.004979,-0.075839,-0.015729,-0.037207,0.038130,0.001662,0.018066

In [18]:
formation=dt.datetime(2009,2,28)
formation

datetime.datetime(2009, 2, 28, 0, 0)

In [19]:
ret_1=mtl_ret.loc[formation-MonthEnd(1)]

In [24]:
ret_1

AAPL   -0.006832
ABBV    0.000000
ABT     0.042599
ACN    -0.062667
ADBE   -0.161164
          ...
V      -0.076534
VZ     -0.125110
WFC    -0.370000
WMT    -0.175936
XOM    -0.063205
Name: 2009-01-31 00:00:00, Length: 101, dtype: float64

In [25]:
ret_1.name='mtl_ret'

In [27]:
ret_1=pd.DataFrame(ret_1)
ret_1

       mtl_ret
AAPL -0.006832
ABBV  0.000000
ABT   0.042599
ACN  -0.062667
ADBE -0.161164
...        ...
V    -0.076534
VZ   -0.125110
WFC  -0.370000
WMT  -0.175936
XOM  -0.063205

[101 rows x 1 columns]

In [28]:
ret_1['decile']=pd.qcut(ret_1.mtl_ret,10,labels=False)

In [29]:
ret_1

       mtl_ret  decile
AAPL -0.006832       7
ABBV  0.000000       7
ABT   0.042599       9
ACN  -0.062667       6
ADBE -0.161164       2
...        ...     ...
V    -0.076534       5
VZ   -0.125110       3
WFC  -0.370000       0
WMT  -0.175936       1
XOM  -0.063205       6

[101 rows x 2 columns]

In [31]:
losers=ret_1[ret_1.decile==0].index
losers

Index(['AIG', 'BAC', 'BLK', 'C', 'CAT', 'COF', 'F', 'GE', 'UPS', 'USB', 'WFC'], dtype='object')

In [33]:
losret=mtl_ret.loc[formation,mtl_ret.columns.isin(losers)].mean()
losret # we can chage date to 1 month back, see the out going from negative to positive

-0.2533724498986246

## Backtesting

In [51]:
def reversal(formation):
    ret_1=mtl_ret.loc[formation-MonthEnd(1)]
    ret_1.name='mtl_ret'
    ret_1=pd.DataFrame(ret_1)
    ret_1['decile']=pd.qcut(ret_1.mtl_ret,10,labels=False)
    losers=ret_1[ret_1.decile==0].index
    losret=mtl_ret.loc[formation,mtl_ret.columns.isin(losers)].mean()
    return losret

In [52]:
formation

datetime.datetime(2009, 2, 28, 0, 0)

In [53]:
reversal(formation)

-0.2533724498986246

In [54]:
mtl_ret

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,TXN,UNH,UNP,UPS,USB,V,VZ,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,-0.006832,0.000000,0.042599,-0.062667,-0.161164,-0.242604,-0.079832,-0.070182,0.004969,0.082046,...,-0.061210,0.026821,-0.126471,-0.242738,-0.412277,-0.076534,-0.125110,-0.370000,-0.175936,-0.063205
2009-02-28,-0.009098,0.000000,-0.146104,-0.075095,-0.135163,-0.671875,-0.004566,-0.107931,-0.040211,0.101496,...,-0.040134,-0.306389,-0.137344,-0.020515,-0.035714,0.151384,-0.044861,-0.347822,0.044991,-0.107713
2009-03-31,0.177024,0.000000,0.007605,-0.058239,0.280838,1.380953,0.399083,0.012059,0.044986,0.133508,...,0.150523,0.066698,0.095682,0.195240,0.024038,-0.019573,0.058535,0.176859,0.064052,0.002946
2009-04-30,0.197013,0.000000,-0.114597,0.070571,0.278635,0.380000,0.183607,-0.021204,0.043707,0.096405,...,0.100814,0.123747,0.195330,0.063389,0.247091,0.168345,0.018825,0.405197,-0.032630,-0.020998
2009-05-31,0.079314,0.000000,0.076702,0.016990,0.030347,0.224638,0.257618,0.030328,0.003464,-0.031421,...,0.074197,0.130952,0.008329,-0.014465,0.053787,0.044014,-0.035597,0.277107,-0.007774,0.046405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31,0.013583,0.088349,0.055422,0.053341,-0.023584,0.035044,0.216656,0.068165,0.042201,0.040044,...,0.116233,-0.044675,0.096454,0.037069,0.148166,0.014298,-0.016436,0.103835,0.016350,-0.026864
2024-01-31,-0.042227,0.070986,0.032948,0.040748,0.035501,0.025978,0.137575,0.091105,-0.093710,0.021456,...,-0.053247,-0.027979,-0.006881,-0.097500,-0.040203,0.049587,0.142285,0.019504,0.048208,0.028306
2024-02-29,-0.018543,0.070864,0.048520,0.029955,-0.093075,0.048626,0.148130,-0.121840,0.016407,0.138918,...,0.045029,-0.035448,0.045377,0.056537,0.010111,0.036255,-0.055018,0.115593,0.064024,0.026081
2024-03-31,-0.051286,0.034365,-0.041976,-0.075164,-0.099379,0.077549,-0.062536,0.038309,-0.006386,0.020480,...,0.041116,0.006179,-0.030589,0.002496,0.077428,-0.012596,0.048476,0.042634,0.030113,0.112132
2024-04-30,-0.011598,-0.121082,-0.050125,-0.108271,-0.051764,-0.045094,-0.126087,-0.047376,-0.118781,-0.037199,...,0.005970,0.004649,-0.011609,-0.004979,-0.075839,-0.015729,-0.037207,0.038130,0.001662,0.018066

In [55]:
returns=[]
dates=[]

for i in mtl_ret.index[2:]:
    returns.append(reversal(i))
    dates.append(i)

In [58]:
returns

[0.3426155234874369,
 0.04825580607345324,
 0.0654574070732321,
 0.03678642148658091,
 0.040120647551992024,
 0.23232289024697578,
 0.05640099864153644,
 -0.020801372775121518,
 0.09031902350006298,
 0.009315501462527152,
 0.0233872090177059,
 0.03238376927858122,
 0.08380365367559663,
 -0.025495890527831678,
 -0.07336843875207406,
 -0.07661349890656712,
 0.07702734938082968,
 0.003470048103865045,
 0.10684562790780401,
 0.013984683188269993,
 0.02307022019294803,
 0.05595217704285128,
 0.027886985014852286,
 0.012043459679226891,
 -0.022595353028692592,
 0.04252243002170306,
 -0.021203751572902572,
 -0.0072823116637907755,
 -0.04954627911364953,
 -0.06761803922520199,
 -0.14289184371002397,
 0.14061440559208477,
 -0.021504255713682488,
 -0.019454740369664113,
 0.10901714384666077,
 0.06716717296731405,
 0.0341828761766708,
 -0.031780230746427066,
 -0.11948849084068444,
 0.04659840645481557,
 0.018168802128485293,
 0.06130370135110366,
 0.029148969105018355,
 0.0049690789528322125,
 0.059056059084834,
 0.0348107060320842,
 0.052152455415311286,
 0.005398357293700822,
 0.017743431340095987,
 0.02223052643257811,
 0.07538878094173852,
 0.0022278015769379056,
 0.0932649726872397,
 -0.02068982726220401,
 0.037877358582020675,
 0.05396952371958643,
 0.021476171466357205,
 0.08272352702408059,
 -0.044500687415437994,
 0.037114509305799424,
 0.02368801917523116,
 -0.03425917222051589,
 0.06796930041136884,
 0.019577230559831404,
 -0.006708686256844509,
 0.06708168278072005,
 -0.00536852589510974,
 -0.026012583971549628,
 0.019474236831748436,
 -0.008965923887664635,
 0.006928290093247247,
 0.09202508786151062,
 -0.010371763751127916,
 0.07306740541811392,
 0.046897420778978044,
 -0.03466173969550959,
 -0.020453964514351775,
 -0.04379252965542669,
 -0.048693991198584106,
 0.09709785376068648,
 0.0034723061146243158,
 0.01885014646038683,
 -0.09192545843906762,
 -0.001131293374558589,
 0.07566446199261602,
 0.04456545960651215,
 0.04672708351117641,
 0.0034483182571616107,
 0.06292474625945312,
 0.008723927366297306,
 -0.009186547173884846,
 -0.0015675403449775956,
 0.04122864778888482,
 0.03735291749968557,
 0.020982776172545736,
 0.060383274248767264,
 0.004359525146878187,
 0.0014712235875381204,
 0.004736140485601458,
 0.03778470134309113,
 0.035108151321875794,
 0.010357775820804467,
 0.030969671378537254,
 0.015648721433043664,
 0.013596556852232388,
 -0.006568294300545164,
 0.050122205807643795,
 -0.05204083771864892,
 -0.05042444394315194,
 0.015567885655461017,
 0.02045805192705524,
 0.03252541894000213,
 0.04301197297712921,
 0.010832458858625372,
 -0.00288391445677621,
 -0.006871909301338449,
 0.048963005789457,
 -0.08421910981768076,
 0.10884158250602584,
 0.03417486293111464,
 0.01661419810808978,
 0.028051663150605286,
 -0.07799379042054015,
 0.12724130371048725,
 0.026378035327436846,
 -0.009469581067677691,
 0.07958379696467643,
 0.05275948523744575,
 0.02503270297519309,
 0.03912912195282103,
 -0.035283197456164817,
 -0.09604706426024584,
 -0.23277545091403248,
 0.12965157853957862,
 0.02255410551941638,
 0.02918417217519612,
 0.07063833912649446,
 0.03257700799922927,
 -0.02490825070745163,
 -0.018632607994889458,
 0.19801846444711194,
 0.01418882455875617,
 0.027142384316794974,
 0.06710329821694293,
 0.043073559958269246,
 0.04423554035774325,
 0.06879895908460744,
 0.018880358801764963,
 -0.011300300161887716,
 0.0007792505840369189,
 -0.007431302037039183,
 0.059692439138120085,
 -0.04136480868601689,
 0.059316243155303,
 -0.09618850147519592,
 -0.04602369057911155,
 0.006497549495527943,
 -0.1329791089478938,
 0.01887197772854324,
 -0.03452446827990254,
 0.14742393034596424,
 -0.028868195327205606,
 -0.1531462285540748,
 0.13402258404614728,
 0.06667157488133778,
 -0.11058679763628287,
 0.21165954525968242,
 -0.035084514513000986,
 0.09844439561242714,
 0.01836942747219111,
 0.025264170475110023,
 0.06278295943424882,
 0.05168635922765654,
 0.005128823941916424,
 -0.030475739416154356,
 0.012178686916593982,
 0.08401244000579383,
 0.039093084388782895,
 0.00619707651803211,
 0.03685082856795686,
 0.041192149554937066,
 -0.04991722466437209]

In [59]:
frame=pd.DataFrame({'dates':dates,'returns':returns})

In [60]:
frame

         dates   returns
0   2009-03-31  0.342616
1   2009-04-30  0.048256
2   2009-05-31  0.065457
3   2009-06-30  0.036786
4   2009-07-31  0.040121
..         ...       ...
177 2023-12-31  0.039093
178 2024-01-31  0.006197
179 2024-02-29  0.036851
180 2024-03-31  0.041192
181 2024-04-30 -0.049917

[182 rows x 2 columns]

In [61]:
frame.returns.mean()

0.020605853889316517

In [62]:
df2=yf.download("^OEX",start='2009-01-01')['Adj Close']

[*********************100%%**********************]  1 of 1 completed

In [63]:
df2

Date
2009-01-02     444.519989
2009-01-05     440.829987
2009-01-06     442.720001
2009-01-07     429.839996
2009-01-08     430.380005
                 ...
2024-04-22    2370.610107
2024-04-23    2401.639893
2024-04-24    2400.620117
2024-04-25    2384.379883
2024-04-26    2420.929932
Name: Adj Close, Length: 3855, dtype: float64

In [64]:
bench_ret=df2.pct_change().resample('M').agg(lambda x: (x+1).prod()-1)

In [65]:
bench_ret

Date
2009-01-31   -0.119770
2009-02-28   -0.110075
2009-03-31    0.083685
2009-04-30    0.075924
2009-05-31    0.053103
                ...
2023-12-31    0.037849
2024-01-31    0.023379
2024-02-29    0.054534
2024-03-31    0.027175
2024-04-30   -0.023366
Freq: M, Name: Adj Close, Length: 184, dtype: float64

In [69]:
frame['S&P100 ret']=bench_ret[2:].values

In [70]:
frame

         dates   returns  S&P100 ret
0   2009-03-31  0.342616    0.083685
1   2009-04-30  0.048256    0.075924
2   2009-05-31  0.065457    0.053103
3   2009-06-30  0.036786    0.004912
4   2009-07-31  0.040121    0.071219
..         ...       ...         ...
177 2023-12-31  0.039093    0.037849
178 2024-01-31  0.006197    0.023379
179 2024-02-29  0.036851    0.054534
180 2024-03-31  0.041192    0.027175
181 2024-04-30 -0.049917   -0.023366

[182 rows x 3 columns]

In [72]:
frame[frame.returns > frame['S&P100 ret']].shape

(111, 3)

In [74]:
111/182  #over 60% works this way

0.6098901098901099